<!DOCTYPE html>
<html>
<head>
	<title>Pot Hole Detection</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="static/bootstrap.min.css">

    <!-- Datatable -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
  <script type = "text/javascript"  src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script type = "text/javascript"  src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script type = "text/javascript"  src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>
  
    
	{% block head %}{% endblock %}
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <a class="navbar-brand  ml-5" href="/main"> <h3> <strong> Pot Hole Detection </strong></h3></a>
  <a class="btn btn-info ml-auto mr-5" href="/show">View Data</a>
 <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
</nav>

 	{% block body %}{% endblock %}

 	<div class="container-fluied p-3 text-white text-center bg-primary">
 		copy rights @ Sartaj Ansari
 	</div>
</body>
</html>